body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.card {
    background: white;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 600px;
    text-align: left;
}

h1 {
    color: #333;
}

p {
    font-size: 16px;
    color: black;
}

a {
    color: #cd992a;
    text-decoration: none;
    font-weight: bold;
}
